body{
    background-image:url(/images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
*{
    margin: 0%;
}
.title{
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 5%;
    text-align: center;
    display: inline-block ;
    width: 120%;
    height: 50%;
    background-color: 9791C7;
    border-radius: 20px;
}
.contactSide {
    position: absolute;
    margin-left: 20%;
    margin-top: 6%;
    height: 100%;
    width: 21%;
}

.getin {
    margin-top: 10%;
    margin-left: 42%;
    margin-bottom: 5%;
    padding: 2%;
    text-align: center;
    width: 40%;
    height: 80%;
    background-color: #E8C9ED;
    border-radius: 10%;
}

.inputDetails{
    margin-left: 1%;
}

.inputName{
    width: 60%; height: 10%;
    padding: 2%;
}
.inputEmail{
    width: 60%; height: 10%;
    padding: 2%;  
}
.emailAdjust{
    margin-top: 20px;
}
.inputMessage{
    width: 60%; height: 32%;
    padding-left: 2%;
    padding-bottom: 20%;
}
.messageAdjust{
    margin-top: 5%;
}
.title > h3{
    text-align: left;

}
.submitButton > button{
    width: 25%;
    border-radius: 10px;
    height:8%
}
::placeholder {
    color: #808080; 
    font-style: italic;
    font-size: large; 
  }
  
